Rajeshwar Batch no 101

Define a function that accepts a number and returns whether the number is even or odd.

In [ ]:
def compute(num):
   if num%2==0:
       print("Even")

   else:
       print("Odd")

In [ ]:
compute(5)

Odd

Define a function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [ ]:
def square_numbers():
    squares = [x ** 2 for x in range(1, 31)]
    print(squares)

square_numbers()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Define a function, shut_down, that takes one parameter. Then, if the shut_down function receives a value equal to "yes", it should print "Shutting down". Alternatively, if vallue is equal to "no", then the function should print "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [ ]:
def shut_down(value):
    if value == "yes":
        print("Shutting down")
    elif value == "no":
        print("Shutdown aborted")
    else:
        print("Sorry")

In [ ]:
shut_down("yes")

Shutting down



Define a function called "by_three" that takes a parameter called number. If that number is divisible by 3, "by_three" should print the cube of the number. Otherwise, by_three should print False.

In [ ]:
def by_three(number):
    if number % 3 == 0:
        print(number ** 3)

    else:
        print(False)

In [ ]:
by_three(6)

216

Define a function that takes a list and prints a new list with no duplicate elements given in the first list.

In [ ]:
def remove_duplicates(numbers):
    unique_numbers = []
    for num in numbers:
        if num not in unique_numbers:
            unique_numbers.append(num)
    return unique_numbers

In [ ]:
remove_duplicates([1,2,3,4,5.5,6])

[1, 2, 3, 4, 5.5, 6]