Rajeshwar Batch no 101

In [9]:
#Question 01
x=2
y=y
for i in range(x,y):
  if i==3:
    continue
  elif i==4:
    break
  else:
    print(i)

2

In [13]:
#Question 02
x=4
y=10
while x>y:
  x-=1
  y+=1

else:
  y-=1

  print(y)

9

In [15]:
#Question 03
x=3
y=6
if x<y:
  if y>10:
    z=x+y

  else:z=x-y

else:z=x*y

print(z)

-3

In [25]:
#Question 04
x=5
y=3
if x<y:
  z=x+y

elif x>y:
  z=x-y

else:
  z=x*y

print(z)

2

In [18]:
#Question 05
x=4
y=8
for i in range(x,y):
  if i%2==0:
    continue
  else:
    print(i)

5
7

In [27]:
#Question 06
x=5
y=3
if x>y:
  z=x+y

elif x<y:
  z=x-y

else:
  z=x*y

print(z)

8

In [28]:
#Question 07
my_list=[1,2,3,4,5]
my_list.extend([6,7])

print(my_list)

[1, 2, 3, 4, 5, 6, 7]

In [29]:
#Question 08
my_tuple=(1,2,3)
new_tuple=my_tuple+(4,5,6)

print(new_tuple)

(1, 2, 3, 4, 5, 6)

In [31]:
#Question 09
my_list=[1,2,3,4,5]
new_list=sorted(my_list,reverse=True)

print(new_list)

[5, 4, 3, 2, 1]

In [32]:
#Question 10
my_list=[1,2,3,4,5]
new_list=my_list[1:3]

print(new_list)

[2, 3]

In [33]:
#Question 11
my_tuple=(1,2,3,4,5)
my_tuple[1]=10

print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [34]:
#Question 12
my_tuple=(1,2,3,4,5)
repeated_tuple=my_tuple*3

print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [35]:
#Question 13
my_tuple=(1,2,3)
new_tuple=my_tuple+(4,)

print(new_tuple)

(1, 2, 3, 4)

In [37]:
#Question 14
my_tuple=(1,2,3,4,5)
sum_of_tuple=sum(my_tuple)

print(sum_of_tuple)

15

In [39]:
#Question 15
my_list=[1,2,3,4,5]
del my_list[2]

print(my_list)

[1, 2, 4, 5]

In [40]:
#Question 16
my_list=[1,2,3,4,5]
my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

In [41]:
#Question 17
my_list=[1,2,3,4,5]
my_list.insert(2,10)

print(my_list)

[1, 2, 10, 3, 4, 5]

In [42]:
#Question 18
my_tuple=(1,2,3,4,5)
new_tuple=my_tuple[-3:-1]

print(new_tuple)

(3, 4)

In [43]:
#Question 19
my_tuple=(1,2,3,4,5)
new_tuple=my_tuple[::-1]

print(new_tuple)

(5, 4, 3, 2, 1)

In [46]:
#Question 20
my_list=[1,2,3,4,5]
repeated_list=my_list*2

print(repeated_list)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [47]:
#Question 21
x=3
y=6
while x<y:
  if y%2==0:
    x+=y
  else:
    x-=y
  print(x)

9

In [74]:
#Question 22
def count_vowels(word):
  vowels=['a','e','i','o','u']
  count=0
  for letter in word:
    if letter.lower() in vowels:count+=1
    return count
    word="Hello World"
    result=count_vowels(word)
    print(result)

In [70]:
#Question 23
def calculate_average(nums):
  return sum(nums)/len(nums)
  my_nums=[1,2,3,4,5]
  result=calculate_average(my_nums)
  print(result)

In [79]:
#Question 24
def find_average(nums):
  positive_nums=[num for num in nums if num>0]
  return sum(positive_nums)/len(positive_nums)
  my_nums=[1,2,3,4,5]
  result=calculate_average(my_nums)
  print(result)

In [82]:
#Question 25
def modify_list(lst):
  lst.append(4)
  my_list=[1,2,3]
  modify_list(my_list)
  print(my_list)

In [83]:
#Question 26
def remove_duplicates(string):
  unique_char=[]
  for char in string:
    if char not in unique_char:
      unique_char.append(char)
      return''.join(unique_char)
      my_string="abracadabra"
      result=remove_duplicates(my_string)
      print(result)

In [84]:
#Question 27
x=4
result=x>5
print(result)

False

In [85]:
#Question 28
x="Python"
result=x[1:5:2]
print(result)

yh

In [86]:
#Question 29
x=True
y=False
result=x or y
print(result)

True

In [87]:
#Question 30
x=5
y="2"
result=str(x)+y
print(result)

52